<div class="faq-container">
  <h1 class="faq-title"><img
    src="assets/images/icon-star.svg"
    alt="Star Icon"
    class="icon-star"
  />FAQs</h1>
  <div class="faq-item" *ngFor="let faq of faqs">
    <div class="faq-question" (click)="toggleFAQ(faq)">
      <h3>{{ faq.question }}</h3>
      <img
        *ngIf="!faq.open"
        src="assets/images/icon-plus.svg"
        alt="Plus icon"
        class="icon-plus"
      />
      <img
        *ngIf="faq.open"
        src="assets/images/icon-minus.svg"
        alt="Minus icon"
        class="icon-minus"
      />
    </div>
    <div class="faq-answer" [ngClass]="{ open: faq.open }">
      <p>{{ faq.answer }}</p>
    </div>
  </div>
  <div class="attribution">
    Challenge by
    <a href="https://www.frontendmentor.io?ref=challenge" target="_blank"
      >Frontend Mentor</a
    >. Coded by <a href="#">Santiago Montoya</a>.
  </div>
</div>
